
@{
    ViewBag.Title = "NewClass";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card" style="height:370px;border-radius:0px;">
            <div class="card-header">
                <p style="margin-bottom:0;"><label class="">Upcomming Events </label><span class="pull-right"><a><i class="fa fa-caret-down text-info"></i></a> <a> <i class="fa fa-refresh text-success"></i></a><a> <i class="fa fa-close text-danger"></i></a></span></p>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-3">
                        <label style="width:100%;">Teacher Name</label>
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label style="width:100%;">ID</label>
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label style="width:100%;">Gender</label>
                        <div class="form-group">
                            <select class="form-control">
                                <option>select</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Undefined</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label style="width:100%;">Class</label>
                        <div class="form-group">
                            <select class="form-control">
                                <option>select</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Undefined</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                    <label style="width:100%;">Subject</label>
                    <div class="form-group">
                        <select class="form-control">
                            <option>select</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Undefined</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label style="width:100%;">Section</label>
                    <div class="form-group">
                        <select class="form-control">
                            <option>select</option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Undefined</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label style="width:100%;">Time</label>
                    <div class="form-group">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <label style="width:100%;">Date</label>
                    <div class="form-group">
                        <input type="text" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label style="width:100%;">Phone</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" value="" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <label style="width:100%;">Email</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" value="" />
                    </div>
                </div>
                <div class="col-sm-3">

                </div>
                <div class="col-sm-3">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-md btn-success" style="margin:0;">Save</button>
                    <button class="btn btn-md btn-danger" style="margin:0;">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
