
@{
    ViewBag.Title = "Admission Form";
}
<form method="post" action="/Students/insertStudent" enctype="multipart/form-data">
    <div class="row">
        <div class="col-sm-5">
            <label>Firstname</label>
            <input type="text" name="firstname" class="form-control" />
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-5">
            <label>Lastname</label>
            <input type="text" name="lastname" class="form-control" />
        </div>
        <div class="col-sm-5">
            <label>Parent</label>
            <input type="text" class="form-control" name="parent"/>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-5">
            <label>Address</label>
            <textarea name="address" style="max-width:100%;min-width:100%;max-height:250px;min-height:25px;" class="form-control"></textarea>
        </div>
        <div class="col-sm-5">
            <label>Phone number</label>
            <input type="text" class="form-control" name="phonenumber" />
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-5">
            <br />
            
            <label class="btn btn-outline-info btn-md">
                Select an Image
                <input type="file" name="files" id="file1" hidden="hidden"/>
            </label>
        </div>
        <div class="col-sm-5">
            <label>Email</label>
            <input type="email" class="form-control" name="email"/>
        </div>
        <div class="col-sm-2">

        </div>
        <div class="col-sm-5">
            <br />
            <button type="submit" class="btn btn-outline-dark-green btn-md">Save <i class="fa fa-save fa-2x"></i></button>
            <button type="reset" class="btn btn-outline-danger btn-md" value="">Cancel <i class="fa fa-trash fa-2x"></i><i></i></button>
        </div>
    </div>
</form>