
@{
    ViewBag.Title = "All Students";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <p style="margin-bottom:0;"><label class="">All Students </label><span class="pull-right"><a><i class="fa fa-caret-down text-info"></i></a> <a> <i class="fa fa-refresh text-success"></i></a><a> <i class="fa fa-close text-danger"></i></a></span></p>
            </div>
            <div class="card-body form-dark scrollbar-dusty-grass thin square" style="overflow:auto;">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th><input type="checkbox" /> All</th>
                            <th>Roll No</th>
                            <th>Photo</th>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Parent's Name</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Address</th>
                            <th>DOB</th>
                            <th>Mobile #</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>1</td>
                            <td><img src="~/assets/images/noun_35785_cc.png" class="rounded" style="width:24px;height:24px;" /></td>
                            <td>Name</td>
                            <td>Gender</td>
                            <td>Parent's Name</td>
                            <td>Class</td>
                            <td>Section</td>
                            <td>Address</td>
                            <td>DOB</td>
                            <td>Mobile #</td>
                            <td>Email</td>
                            <td><i class="fa fa-eye text-secondary"></i> <i class="fa fa-edit text-info"></i> <i class="fa fa-trash text-danger"></i></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>