
@{
    ViewBag.Title = "Student Detail";
}

<div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-header">
                <p style="margin-bottom:0;"><label class="">John Doe </label><span class="pull-right"><a><i class="fa fa-caret-down text-info"></i></a> <a> <i class="fa fa-refresh text-success"></i></a><a> <i class="fa fa-close text-danger"></i></a></span></p>
            </div>
            <div class="card-body">
                
                <div class="row">

                    <div class="col-sm-3 text-center">
                        <img src="~/assets/images/Student-MaleFemale-icon.png" class="img-thumbnail" alt="Alternate Text" style="width:80%;height:250px;" />
                        <div class="row" style="margin:0;">

                        </div>
                    </div>
                    <div class="col-sm-8">

                        <table class="table table-sm table-striped">
                            <tr>
                                <td>Name:</td>
                                <td>John Doe</td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td>Male</td>
                            </tr>
                            <tr>
                                <td>Roll #</td>
                                <td>1234</td>
                            </tr>
                            <tr>
                                <td>Admission ID:</td>
                                <td>123B1</td>
                            </tr>
                            <tr>
                                <td>Admission Date:</td>
                                <td>01/01/1900</td>
                            </tr>
                            <tr>
                                <td>Class:</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Section:</td>
                                <td>A</td>
                            </tr>
                            <tr>
                                <td>Name:</td>
                                <td>John Doe</td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td>Male</td>
                            </tr>
                            <tr>
                                <td>Roll #</td>
                                <td>1234</td>
                            </tr>
                            <tr>
                                <td>Admission ID:</td>
                                <td>123B1</td>
                            </tr>
                            <tr>
                                <td>Admission Date:</td>
                                <td>01/01/1900</td>
                            </tr>
                            <tr>
                                <td>Class:</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Section:</td>
                                <td>A</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-1">
                        <div style="width: 23%;float: left;background-color: lightgray;text-align: center;margin: 1%;">
                            <i class="fa fa-download"></i>
                        </div>
                        <div style="width: 23%;float: left;background-color: lightgray;text-align: center;margin: 1%;">
                            <i class="fa fa-eye"></i>
                        </div>
                        <div style="width: 23%;float: left;background-color: lightgray;text-align: center;margin: 1%;">
                            <i class="fa fa-print"></i>
                        </div>
                        <div style="width: 23%;float: left;background-color: lightgray;text-align: center;margin: 1%;">
                            <i class="fa fa-share"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>